.vscode
.DS_Store
src/Microscope.Application.Core/bin/Debug/net5.0/Microscope.Application.Core.dll
src/Microscope.Application.Core/bin/Debug/net5.0/Microscope.Application.Core.pdb
src/Microscope.Application.Core/bin/Debug/net5.0/ref/Microscope.Application.Core.dll
src/Microscope.Application.Core/bin/Debug/net5.0/Microscope.Application.Core.dll
src/Microscope.Application.Core/bin/Debug/net5.0/Microscope.Application.Core.pdb
src/Microscope.Application.Core/bin/Debug/net5.0/ref/Microscope.Application.Core.dll
