@page "/identity"

<div class="container text-center">

    <h1 class="display-4">Identity</h1>
    <h3>Identity and access management</h3>

    <a href="http://localhost:8083" target="_blank" class="btn btn-large btn-primary">Navigate</a>
    
</div>