@page "/storage"

<div class="container text-center">

    <h1 class="display-4">Storage</h1>
    <h3>Multi cloud storage provider</h3>

    <a href="http://localhost:8082" target="_blank" class="btn btn-large btn-primary">Navigate</a>
    
</div>