<MudDialog>
  <DialogContent>
    <EditForm Model="@RemoteConfig" OnValidSubmit="OnValidSubmit">
      <DataAnnotationsValidator />

      <MudTextField T="string" Label="Key" HelperText="Min. 2 characters" @bind-Value="RemoteConfig.Key"
        For="@(() => RemoteConfig.Key)" />

      <MudField Label="Dimension" Variant="Variant.Text">
        <div id="jsoneditor" style="width:100%;height:400px;"></div>
        <MudTextField InputType="InputType.Hidden" id="dimension" T="string" HelperText="Valid json"
          @bind-Value="RemoteConfig.Dimension" For="@(() => RemoteConfig.Dimension)" />
      </MudField>

      <MudButton ButtonType="ButtonType.Submit" FullWidth="true" Class="mt-4" Variant="Variant.Filled"
        Color="Color.Primary">
        Save</MudButton>

      <MudExpansionPanels Class="mt-4">
        <MudExpansionPanel Text="Show Validation Summary">
          @if (Success)
                          {
          <MudText Color="Color.Success">Success</MudText>
          }
                          else
                          {
          <MudText Color="@Color.Error">
            <ValidationSummary />
          </MudText>
          }
        </MudExpansionPanel>
      </MudExpansionPanels>
    </EditForm>
  </DialogContent>
</MudDialog>
