@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/data"

<div class="container text-center">
    
    <h1 class="display-4">Data</h1>
    <h3>GraphQL Engine, Data, Actions, Remote schemas, Events</h3>

    <a href="http://localhost:8080" target="_blank" class="btn btn-large btn-primary">Navigate</a>

</div>