@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/data"

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:8080" target="_blank">Data</a>
</nav>
<br>

<div class="container text-center">
    <h3>GraphQL Engine, Data, Actions, Remote schemas, Events</h3>
</div>