@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/identity"

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:8083/auth/admin/master/console/#/realms/master" target="_blank">IAM</a>
</nav>
<br>

<div class="container text-center">
    <h3>Identity and access management</h3>
</div>