@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/identity"

@* <nav class="navbar navbar-dark" style="background-color: #102362;">
  <a class="navbar-brand" href="http://localhost:8083/auth/admin/master/console/#/realms/master" target="_blank">IAM</a>
</nav>
<br> *@

<MudContainer Class="mt-16">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Identity and access management</MudText>
</MudContainer>