@page "/"

<div class="jumbotron text-center">
  <h1 class="display-4">MICROSCOPE</h1>
  <p class="lead">multi cloud backend as a service</p>
  <hr class="my-4">
  <p>Powered by Hasura - Keycloak - jupyterLab - Minio</p>
</div>