@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/lab"

<div class="container text-center">

    <h1 class="display-4">Lab</h1>
    <h3>Dataframing, Machine learning powered by interactive programming</h3>

    <a href="http://localhost:8081" target="_blank" class="btn btn-large btn-primary">Navigate</a>

    @* <iframe src="http://localhost:8081" frameborder="0" width="100%" height="1000px"></iframe> *@
    
</div>