@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/lab"

<nav class="navbar navbar-dark" style="background-color: #102362;">
  <a class="navbar-brand" href="http://localhost:8081" target="_blank">Notebooks Lab</a>
</nav>
<br>

<div class="container text-center">
    <h3>Dataframing, Machine learning powered by interactive programming</h3>
</div>