@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider
@page "/user"

<AuthorizeView>
    <Authorized>

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="http://localhost:8081" target="_blank">Account</a>
        </nav>
        <br>

        <h3>@context.User.Identity.Name</h3>

        <div class="container">
            <div class="row">
                <div class="col">
                    <textarea name="" width="100%" id="" cols="30" rows="10">@AccessToken</textarea>
                </div>
                <div class="col">
                    <ul class="list-group">
                            @foreach (var item in context.User.Claims)
                            {
                                <li class="list-group-item"><b>@item.Type : </b> @item.Value</li>
                            }
                    </ul>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {
    public string AccessToken { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var accessTokenResult = await TokenProvider.RequestAccessToken();
        AccessToken = string.Empty;

        if (accessTokenResult.TryGetToken(out var token))
        {
            AccessToken = token.Value;
        }
    }
}