@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@using System.Net.Http.Headers
@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider
@page "/user"

<AuthorizeView>
    <Authorized>
        <h2>@context.User.Identity.Name</h2>

        <div class="container">
            <div class="row">
                <div class="col">
                    <textarea name="" width="100%" id="" cols="30" rows="10">@AccessToken</textarea>
                </div>
                <div class="col">
                    <ul class="list-group">
                            @foreach (var item in context.User.Claims)
                            {
                                <li class="list-group-item"><b>@item.Type : </b> @item.Value</li>
                            }
                    </ul>
                </div>
            </div>

            <button type="button" class="btn btn-success" @onclick="OnClickBtn">CALL</button>
        </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {
    public string AccessToken { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var accessTokenResult = await TokenProvider.RequestAccessToken();
        AccessToken = string.Empty;

        if (accessTokenResult.TryGetToken(out var token))
        {
            AccessToken = token.Value;
        }
    }

    private async void OnClickBtn()
    {
        try
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", AccessToken);
            var result = await Http.GetFromJsonAsync<object>("WeatherForecast");
            Console.WriteLine(result);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            Console.WriteLine(exception);
            exception.Redirect();
        }
    }
}