@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/analytic"

<nav class="navbar navbar-dark" style="background-color: #102362;">
  <a class="navbar-brand" href="" target="_blank">Analytic</a>
</nav>
<br>

<div class="container text-center">
    <h3>todo</h3>
</div>